
<% layout("layouts/boilerplate") -%>

<body>
    <form  class="needs-validation" novalidate  action="/listings/create" method="POST" enctype="multipart/form-data"> >
        <div class="row">
            <div class="col-8 offset-3">
        <label  class="form-lable" for="title">Title:</label>
        <input  class="form-control"  type="text" placeholder="Title" name="title" required>
        <div class="valid-feedback">Good job!</div>
        <br>
        <label for="description">Description:</label>   
        <textarea  class="form-control" type="text" placeholder="Description" name="description"  required></textarea>
        <br>

        <label for="img">Upload Image:</label>
        <input  id="img" class="form-control"  type="file" placeholder="Upload image" name="img" required/>
        <br>

        <label for="price">Price:</label>
        <input   class="form-control"  type="text" placeholder="Price" name="price" required/>
        <br>
     <label for="location">Location:</label>
      <input id="location" class="form-control" type="text" placeholder="Location" name="Location" required/>

        <label for="country">Country:</label>
        <input class="form-control" type="text" placeholder="Country" name="country" required/>
        <br>

        <button  class="btn btn-danger"  type="submit">Create Listing</button>
        </div>
        </div>
    </form>
</body>